@import "./log";
@import "./home";
@import "./profil";

#root {
  display: flex;
  justify-content: center;
  height: fit-content;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.page-container {
  display: flex;
  height: 100%;

  .main-container {
    min-height: 100vh;

    .main-wrapper {
      width: 100%;
      display: flex;
      column-gap: 2.5rem;

      .content-container {
        width: 100%;
        max-width: 37.5rem;
        min-height: 100vh;
        box-sizing: border-box;
        border-left: 1px solid rgb(239, 243, 244);
        border-right: 1px solid rgb(239, 243, 244);

        .page-content-wrapper {
          width: 100%;
          min-height: 100vh;
          display: flex;
          align-self: flex-start;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .content-container{
    width: 37.5rem !important;
  }
}
