$color-1: #1d9bf0;
$color-2: #ffffff;
$color-3: #0f1419;
$color-4: rgb(83, 100, 113);
$separator-color: #eff3f4;

.disable {
  cursor: default !important;
  opacity: 20%;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    margin-top: 5px;
    width: 1.75rem;
	animation: spinner linear 0.8s infinite;
	animation-play-state: inherit;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  h1 {
    font-size: 4rem;
    font-weight: bolder;
  }

  h2 {
    font-size: 2rem;
    font-weight: bolder;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  h4 {
    font-size: 0.95rem;
    font-weight: bold;
  }
  a {
    outline: none;
    text-decoration: none;

    &:visited {
      color: $color-1;
      outline: none;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
