.separator{
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
    box-sizing: border-box;

    .line{
        min-width: calc((100% - 2rem)/2);
        height: 1px;
        background-color: rgb(239, 243, 244);
    }
}